@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Material Symbols";
  src: url("./Fonts/MaterialSymbolsRounded[FILL\,GRAD\,opsz\,wght].woff2");
}

.font-icons {
  font-weight: 300;
  font-style: normal;
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings: "FILL" 0;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  padding: 4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 6.1875rem;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
